<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Speaker Select App</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">

  <!-- Ti-Ta-Toggle Bootstrap -->
  <link href="{{ url_for('static', filename='css/titatoggle-dist.css') }}" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <!-- Adding a Favicon -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />

  <!-- WebApp Manifest -->
  <link rel="manifest" href="{{ url_for('manifest') }}">

</head>

<body>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Speaker Select App</a>
      </div>
	  <ul class="nav navbar-nav pull-xs-right">
		<li class="nav-item active">
			<a class="nav-link" href="/">Home</a>
		</li>
	   </ul>
	</div>
	</nav>

  <br>
  <div class="container theme-showcase" role="main">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title"> Administration Functions</h3>
      </div>
      <div class="panel-body">
        <!-- Reboot -->
        <form name="input" action="/admin/reboot">
          <button type="submit" class="btn btn-lg btn-warning">Reboot System</button>
        </form>

        <br><br>
        <!-- Shutdown -->
        <form name="input" action="/admin/shutdown">
          <button type="submit" class="btn btn-lg btn-danger">Shutdown System</button>
        </form>
      </div>
    </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">CPU Temperature</h3>
        </div>
        <div class="panel-body">{{ temp }}</div>
      </div>


    <div class="well">
      <p style="color:grey">Speaker Selector Web Application created by <a href="http://parmeter.net/tech">Ben Parmeter</a>, copyright 2016.</p>
      <p style="color:grey">To return home <a href="/">click here.</a></p>
    </div>
  </div>

</body>
</html>
