<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	{% if theme == 'dark' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dark.css') }}">
	{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	{% endif %}

    <!-- Adding a Favicon -->
     <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- WebApp Manifest -->
    <link rel="manifest" href="{{ url_for('manifest') }}">

    <title>Speaker Select App</title>

  </head>
	<body>

		<!-- Navbar Header -->
		<nav class="navbar sticky-top navbar-dark bg-dark">

			<a class="navbar-brand" href="#">
				<img src="{{ url_for('static', filename='img/launcher-icon-1x.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				Speaker Select</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Selector <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/admin">Admin</a>
			      </li>
			    </ul>
			  </div>

		</nav>
  	<br>

  	<div class="container">
				<div class="card">
				  <div class="card-body">
						<form name="input" action="/" method="POST">
							<div id="refreshbuttons"></div>
						</form>

						<br>

						<!-- All-On Settings Button -->
						<form name="input" action="/" method="POST">
							<input name="spkrs_01" type="hidden" value="on">
							<input name="spkrs_02" type="hidden" value="on">
							<input name="spkrs_03" type="hidden" value="on">
							<button type="submit" class="btn btn-primary btn-lg btn-block"> All-On </button>
						</form>
						<br>
						<!-- Default Settings Button -->
						<form name="input" action="/" method="POST">
							<input name="spkrs_01" type="hidden" value="on">
							<input name="spkrs_02" type="hidden" value="off">
							<input name="spkrs_03" type="hidden" value="off">
							<button type="submit" class="btn btn-primary btn-lg btn-block">Default</button>
						</form>
				  </div>
				</div>
  	</div> <!-- End Showcase -->

		<div class="container">
			<nav class="navbar fixed-bottom navbar-light" style="background-color: #e3f2fd;">
				<span class="navbar-text">
			    Web Application created by Ben Parmeter, copyright 2016-2020.
			  </span>
 			</nav>
		</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

	<script>
		$(document).ready(function(){
		  $('#refreshbuttons').load("/activebuttons");
		  
		  setInterval(function(){
			$('#refreshbuttons').load("/activebuttons");
		  }, 2000);       
		});
	</script>

</body>
</html>
